<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultSoap" allowCookies="true" maxReceivedMessageSize="99999999" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sm/Summit/entity/Default/18.200.001"
                binding="basicHttpBinding" bindingConfiguration="DefaultSoap"
                contract="APIExample.DefaultSoap" name="DefaultSoap" />
        </client>
    </system.serviceModel>
</configuration>